# MongoDB connection string for Payload CMS
DATABASE_URL=mongodb://127.0.0.1:27017/formation

# Payload secret (generate a long random string)
PAYLOAD_SECRET=your-secret-here

CLOUDINARY_NAME=your-cloud-name
CLOUDINARY_API_KEY=your-api-key
CLOUDINARY_API_SECRET=your-api-secret